body {
  width: 95%;
}

h1 {
  font-size: 52px;
  text-align: center;
  margin: 30px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 30px;
}

.main {
  width: 960px;
}

#pic1, #pic2 {
  float: left;
  margin-left: 200px;
  margin-right: 200px;
  border: 1px solid black;
}

p {
  float: left;
  text-align: center;
}

#submit {
  clear: left;
  margin-left: 600px;
  margin-top: 300px;
}

/*button {
  padding: 0;
  float: left;
  width: 250px;
  height: 250px;
}
*/
